body {
  background-color: green;body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header
h1 {
  font-family: "Papyrus";
}
}

h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  font-family: "monospace";
  font-size: 25px;
  width: 700px;
  margin: 0 auto;
  text-align: left;
}body {
  background-color: green;
}

h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  font-family: "Comic Sans MS", "Comic Sans";
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header
h1 {
  font-family: "monospace";
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header
h1 {
  font-family: "monospace";
}